*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    width: 1500px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A0B2E;

 }

nav .logo {
    width: 219px;
    height: 32px;
    color: white;
    margin-left: 200px;
}
.logo-color{
    background: linear-gradient(20deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.logo h2{
    font-size:30px;
}
nav .menu{
    display: flex;
    list-style-type: none;
    height: 24px;
    width: 365px;
    gap:32px;
    
}

nav .menu a{
    font-size: 16px;
    color:#fbf9f9;
    text-decoration: none;
    font-weight: 300;
    
}


.btn{
    background:linear-gradient(20deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    width: 135px;
    height: 44px;
    border-radius: 10000px;
    padding: 12.5px 16px 12.5px 16px;
    gap: 4px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 200px;
} 
 .btn:hover{
  background: #c525bf;
}
.btn img{
    
    font-weight:400;
}

.btn{
    display: flex;
     text-align: center;
    justify-content: center;
}


.btn img{
    height: 20px;
    text-align: center;
    justify-content: center;
} 


#banner{
  width: 1500px;
  min-height: 760px;
  background-image: url("assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.position{
  position: relative;
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.axis{
  position: absolute;
}

.circle img{
  width: 348px;
  height: 348px;
  margin-top: 80px;
}

.microphone{
  left: 690px;
  top: 160px;
}

.badge p{
  width: 75px;
  height: 38px;
  background-color: #00FF88;
  padding: 10px 16px;
  color: #1A0B2E;
  font-size: 18px;
  font-weight: bold;
  border-radius: 1000px;
  text-align: center;
  justify-content: center;
  position: absolute;
  left: 850px;
  top: 100px;
  z-index: 1;
}


.text{
  margin-top: 20px;
  text-align: center;
}

.text h1{
  font-size: 65px;
  font-weight: 700;
  color: white;
}

.subtitle{
  margin-top: 10px;
  font-size: 18px;
  line-height: 28px;
  color: white;
}

.buttons{
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.buttons button{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 24px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.spotify-btn{
  background:linear-gradient(20deg, #F7E93F, #FB09B4, #9100F8); ;
  color: #ffffff;
  border: none;
}
.spotify-btn:hover{
  background: #c525bf;
}

.sub-btn{
  background: transparent;
  color: #ffffff;
  border: 1px solid #00FF88;
}

.buttons img{
  width: 20px;
  height: 20px;
}

.sub-btn:hover{
  background: #c525bf;
}


 #about .about-container{
    width: 1500px;
    height: 646px;
    text-align: center;
    background-color:#1A0B2E;
    padding: 50px 156px;
  } 
  .section-heading h2{
    color: white;
    font-weight: bold;
    font-size: 40px;
  }
  .section-heading p{
    color: white; 
    font-weight: 200;
    font-size: 16px;
  }

  #about .about-container .about-info{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    
  }

  .about-info .info-card p{
    font-size: 48px;
    font-weight: bolder;
    height: 58px;
    color: #00FF88;
  }
  .about-info .info-card h4{
    font-size: 16px;
    color: white;
    font-size: small;
    font-weight: 200;

  }


 #why-choose {
    width: 1500px;
    max-width: 100%;
    padding: 80px 120px;
    background-color:#230E3D;
    color: #FFFFFF;
 }

#why-choose h2 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}

#exclusive img{
    height: 60px;
    width: 60px;
}

.container>*{
  padding-left: 40px;
  padding-right: 40px;
  background-color: #351165;
  border-radius: 40px;
}

#premium{
  grid-area: premium;
  padding-top: 140px;
}

#mobile{
  grid-area: mobile;
  padding-top: 55px;
}

#global{
  grid-area: global;
  padding-top: 55px;
}

#exclusive{
  grid-area: exclusive;
  padding-top: 25px;
}

#rich{
  grid-area: rich;
  padding-top: 45px;
}

.container{
  height: 760px;
  display: grid;
  gap: 25px;
  grid-template-areas:
     "premium mobile mobile"
     "premium global global"
     "exclusive exclusive rich"
}




.footer-content {
    width: 1500px;
    height: 412px;
    background-image: url("assets/footer-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 120px;
   
}


.footer-content .logo h1 {
    font-size: 80px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 40px;
}



.footer-menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    padding: 0;
}

.footer-menu li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
}

.footer-menu li img {
    width: 30px;
    height: 24px;
}

.footer-menu li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.footer-content .copyright {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    color: #FFFFFF;
}
